[Unit]
Description=DWM statusbar
After=dwupdate-audit.service

[Service]
Type=simple
ExecStart=/usr/bin/dwupdate

[Install]
WantedBy=graphical.target
