[Unit]
Description=dwupdate support script
Before=dwupdate.service

[Service]
Type=simple
ExecStart=/usr/bin/dwupdate-audit

[Install]
WantedBy=default.target
