[Unit]
Description=dwupdate support script
After=network-online.target
After=dwupdate.service

[Service]
Type=simple
ExecStart=/usr/bin/dwupdate-audit

[Install]
WantedBy=graphical.target
