[Unit]
Description=dwupdate support script
After=network-online.target
Before=dwupdate.service

[Service]
Type=simple
ExecStart=/usr/bin/dwupdate-audit

[Install]
WantedBy=multi-user.target
